*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'connection ii';
  src: local('connection ii'), url(./fonts/ConnectionIi-2wj8.otf) format('otf');
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow: hidden;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
  color: rgba(250, 250, 250, 1)!important;
}
a:hover{
  text-decoration-line: none !important;
  text-shadow: "0px 0px 8px rgb(255, 255, 255)" !important;
}
.minimal-h1
{
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 5rem;
  font-weight: 600;
  color: rgba(250, 250, 250, 1);
}
.minimal-h2
{
  margin-top: 0;
  font-size: 3rem;
  color: rgba(250, 250, 250, 1);
}
.dim-white
{
  color: rgba(250, 250, 250, 0.7);
}

.f-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-p
{
  min-height: 100vh;
  width: 100vw;
}

#home-p
{
  /*background-color: rgba(255, 95, 69, 1);*/
  color: whitesmoke;
}

#skill-p
{
  display: relative;
  /*background-color: rgb(0, 153, 209);*/
}

#project-p
{
  /*background: rgb(252, 108, 124);*/
}
.rel-pos
{
  position: relative;
}
.abs-pos
{
  position: "absolute";
  top: 0;
  left: 0;
  width: "100vw";
  height: fit-content;
  background-color: rgb(12, 49, 69);
  background-color: rgb(0, 153, 209);
  background-color: rgb(0, 0, 0);
}

.fab
{
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  padding: 1rem ;
  cursor: pointer;
  font-size: 3rem;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  overflow: hidden;
}
.fab:hover
{
  transform: scale(1.5); 
}

#nav-bar
{
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding-top: 1rem;
}
#nav-links
{
  list-style: none;
}
#nav-links li
{
  font-family: arial;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
}


.float-l
{
  float: left;
  display: inline;
}

.float-r
{
  float: right;
  display: inline;
}

.skill-set
{
  width: 90vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.s-set
{
  /*min-width: 26rem;*/
  background-color: rgba(33, 164, 217, 1);
  background-color: rgb(36, 35, 35);
  border-radius: 1rem;
  padding: 0 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-list
{
  list-style: none;
}
.red
{
  color: rgb(255, 0, 0);
}
.minimal-li
{
  margin-top: 0;
  font-weight: 700;
  font-size: 3rem;
  color: rgba(250, 250, 250, 1);
}

.overf-h
{
  overflow: hidden;
}

.imgCont
{
  height: 65vh;
  width: 80vw;
  border-radius: 1rem;
  background-color: rgb(242, 141, 151);
  background-color: rgba(3, 25, 84 , 0.6);
  background-color:rgba(33, 164, 217, 1);
  background-color: rgb(36, 35, 35);
  margin: 1rem 0;
}
.projectDesc
{
  height: 10rem;
  width: 80vw;
  border-radius: 1rem;
  background-color: rgb(242, 141, 151);
  margin-bottom: 1rem;
}

.sizee{
  width: 80vw;
  height: 70vh;
  border-radius: 1rem;
}

.car-cont
{
  width: 80vw;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 1.5rem;
}

.transparent-black
{
  background-color: rgb(36, 36, 36);
}